div.menu_header { width: 100%; height: 65px; right: 10%; border: 0px}
div.menu_header .title { font-family: Courier, monospace; text-decoration: underline; font-size: 32pt; vertical-align: bottom; text-align: center; }
span.menu_item { white-space: nowrap; }
span.menu_item a:link, span.menu_item a:visited { font-family: Courier, monospace; font-weight: bold; }

#user_info { display: inline-block; font-size: 10pt; }

