<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>SouthRiverResorts</display-name>
  <error-page>
    <exception-type>ca.marshan.RequestInvalidException</exception-type>
    <location>/requestinvalid.jspx</location>
  </error-page>
  <context-param>
    <param-name>amountOfFloors</param-name>
    <param-value>4</param-value>
  </context-param>
  <context-param>
    <param-name>roomsPerFloor</param-name>
    <param-value>8</param-value>
  </context-param>
  <context-param>
    <param-name>hotelName</param-name>
    <param-value>SouthRiverResorts</param-value>
  </context-param>
  <filter>
    <display-name>SenHotelMenuFilter</display-name>
    <filter-name>SenHotelMenuFilter</filter-name>
    <filter-class>ca.okbutwhy.SenHotelMenuFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>SenHotelMenuFilter</filter-name>
    <url-pattern>/senhotelmenu.jspx</url-pattern>
    <dispatcher>INCLUDE</dispatcher>
  </filter-mapping>
  <filter>
    <display-name>LoginValidationFilter</display-name>
    <filter-name>LoginValidationFilter</filter-name>
    <filter-class>ca.okbutwhy.LoginValidationFilter</filter-class>
    <init-param>
    	<param-name>welcome</param-name>
    	<param-value>/welcome.jspx</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>LoginValidationFilter</filter-name>
    <url-pattern>*.jspx</url-pattern>
    <url-pattern>/</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>RedirectFilter</filter-name>
    <filter-class> ca.on.senecac.prg556.common.RedirectFilter </filter-class>
    <init-param>
    	<param-name>method</param-name>
    	<param-value>REDIRECT</param-value>
    </init-param>
    <init-param>
    	<param-name>url</param-name>
    	<param-value>/reservations.jspx</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>RedirectFilter</filter-name>
    <url-pattern>/</url-pattern>
  </filter-mapping>
  <filter>
    <display-name>WelcomeFilter</display-name>
    <filter-name>WelcomeFilter</filter-name>
    <filter-class>ca.marshan.WelcomeFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>WelcomeFilter</filter-name>
    <url-pattern>/welcome.jspx</url-pattern>
    <dispatcher>REQUEST</dispatcher>
    <dispatcher>FORWARD</dispatcher>
  </filter-mapping>
  <filter>
    <display-name>ReserveRoomFilter</display-name>
    <filter-name>ReserveRoomFilter</filter-name>
    <filter-class>ca.okbutwhy.ReserveRoomFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>ReserveRoomFilter</filter-name>
    <url-pattern>/reserveroom.jspx</url-pattern>
    <dispatcher>FORWARD</dispatcher>
    <dispatcher>REQUEST</dispatcher>
  </filter-mapping>
  <filter>
  	<display-name>ReservationsFilter</display-name>
  	<filter-name>ReservationsFilter</filter-name>
  	<filter-class>ca.marshan.ReservationsFilter</filter-class>
  </filter>
  <filter-mapping>
  	<filter-name>ReservationsFilter</filter-name>
  	<url-pattern>/reservations.jspx</url-pattern>
  	<dispatcher>FORWARD</dispatcher>
  	<dispatcher>REQUEST</dispatcher>
  </filter-mapping>
  <filter>
  	<display-name>LogoutFilter</display-name>
  	<filter-name>LogoutFilter</filter-name>
  	<filter-class>ca.okbutwhy.LogoutFilter</filter-class>
  </filter>
  <filter-mapping>
  	<filter-name>LogoutFilter</filter-name>
  	<url-pattern>/logout.jspx</url-pattern>
  	<dispatcher>FORWARD</dispatcher>
  	<dispatcher>REQUEST</dispatcher>
  </filter-mapping>
  
  
</web-app>